@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.container {
  max-width: 90%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 25px;
  padding: 17px 30px;
  background-color: #004AAD;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button i {
  margin-right: 5px;
}

.heading {
  text-align: left;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.heading h1 {
  color: #004AAD;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 30px;
}

.heading p {
  color: #8a8a89;
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .heading {
    padding-bottom: 15px;
  }
  
  .heading h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .heading p {
    margin-bottom: 10px;
  }

  .gridCard {
    display: flex !important;
    flex-direction: column;
  }

  .container {
    max-width: 90%;
  }

  a {
    color:#fff;
  }

}

.background {
  padding: 80px 0;
  position: relative;
  background-color: #f7f9fc;
}

.gridCard {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

label {
  font-size: 14px;
}

.top1 {
  margin-top: 50px;
}

h4 {
  font-weight: 800;
  margin-top: 20px;
}

.btn5 {
  border-radius: 30px;
  padding: 20px 40px;
  font-size: 20px;
}